@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Danfo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.coolrat{
    position: absolute;
    width: 735.16px;
    height: 300px;
    margin-top: 800px;
    margin-left: 1000px;
    z-index: 1;
}

#gap {
    margin-left: 20.28px;
}

.text{
    width: fit-content;
    /* padding: 10px 0px; */
}

.nav-link a{
    display: flex;
    
}

ul li {
    margin: 20px 0px;
}

.nav-link .pointer {
    display: none;
    animation: none;
}

.txt{
    display: flex;
    width: fit-content;
    gap: 2rem;

}

/* chinweike */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{    
    -webkit-user-drag: none; 
}

body {
    height: 1vh;
    justify-content: center;
    align-items: center;
    background-image: url(./Grid.png);
    background-color: #16141B;
    overflow: hidden;
    padding: 2.7rem 0rem;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.header .cheddar-txt{
    width: 55rem;
}

.section{
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.sect1,
.sect3{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.sect1 .paragraph {
    color: white;
    font-family: "Inter", sans-serif;
    width: 249px;
    height: 30px;
    font-size: 13px;
    line-height: 1.4;
}

.sect1 .handles {
    justify-items: center;
    display: inline;
    margin-top: 1rem;
    justify-content: space-between;
}
.sect2{
    z-index: 999;
}

.sect2 img{
    width: 22rem;
    margin-top: -7rem;
}

.sect3 h4{
    font-family: "Inter", sans-serif;
    width: 41px;
    height: 10px;
    font-size: 14px;
    color: #FFBDBD;
    font-weight: 700;
    text-align: left;
}

.navbar {
    width: 195.29px;
    height:75px;
    list-style: none;
}

ul {
    list-style: none;
}

.chesse {
    margin-top: -25rem;
    width: 735.16px;
    height: 300px;
    z-index: 1;
}

.no-select{
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}