
.trivia-sect-cont-bg{
    width: 100%;
    height: 100vh;
    top: -6rem;
    position: absolute;
    pointer-events: none;
    background: url("./Grid.png");
    z-index: 5;
}

.trivia-sect-cont{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(22, 20, 27, 1);
    color: rgba(255, 255, 255, 1);
    padding: 5rem 10rem;
}

.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-bar .primary-btn{
    height: 3.3rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.icon-button{
    background-color: var(--cheedar-yellow);
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button:hover{
    scale: 1.05;
}

.icon-button:active{
    scale: .9;
}

.nav-bar .primary-btn img,
.icon-button img{
    height: 2.3rem;
    width: 2.3rem;
}

.logo-cont{
    height: fit-content;
    margin-top: -2.5rem;
    cursor: pointer;
}

.logo-cont:hover{
    animation: swing .5s;
}

.logo-cont:active{
    scale: .95;
}

.logo-cont img{
    width: 2.5rem;
}

.quetion-img-cont{
    width: 100%;
    display: flex;
    justify-content: center;
}

.trivia-question-cont{
    height: 150px;
    max-width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    margin: 2rem auto;
}

.trivia-question-cont h2{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp .8s forwards;
}

.trivia-answer-cont {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 3rem 10rem; 
    position: absolute;
    bottom: 9%;
}

.trivia-answer-cont button {
    width: 100%; 
    height: 63px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cheedar-dark-blue);
    z-index: 8;
    color: var(--cheedar-yellow);
    border: 2px solid var(--cheedar-yellow);
    border-radius: 10px;
    font-size: 30px;
    font-weight: 500;
    opacity: 1; 
    transition: all 0.1s ease;
}

.answer-btn:hover,
.selected {
    background-color: rgba(255, 233, 89, 1)!important;
    border: 2px solid  rgba(255, 233, 89, 1)!important;
    color: rgba(21, 21, 27, 1) !important; 
}

.correct {
    background-color: rgba(105, 255, 68, 1)!important;
    border: 2px solid rgba(105, 255, 68, 1)!important;

    color: rgba(21, 21, 27, 1) !important; 
}

.wrong {
    background-color: rgba(255, 56, 56, 1)!important;
    border: 2px solid rgba(255, 56, 56, 1)!important;

    color: rgba(21, 21, 27, 1) !important; 
}

.trivia-answer-cont button:active {
    scale: .9;
}

.timmer-cont{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 49.5%; 
    transform: translateX(-50%); 
    bottom: 3%;
    position: absolute;
}

.timmer-cont span{
    width: fit-content;
    margin: auto;
    font-size: 25px;
    color: var(--lighter-text-color);
}

.total-point{
    width: fit-content;
    margin: 2rem auto;
    font-size: 5rem;
    font-weight: 500;
}

.score-quote{
    width: 20rem;
    color: rgba(255, 233, 89, 1);
    text-align: center;
    font-style: 1.1rem;
    line-height: 1.5;
    margin: 1rem auto;
}

.button-nav{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 7%;
}

.score-character{
    width: 23rem;
    position: absolute;
    bottom: 0;
    right: 5rem;
}

